.text-container {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: #23252c; */
  /* margin: -1rem 43.7rem; */
  /* padding-bottom: 15rem; */
}

.text-container h2 {
  padding-top: 1rem;
  margin: 0;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 25px;
  /* leading-trim: NONE; */
  /* line-height: 5%; */
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.text-container p {
  margin: 0.5rem 0;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 10.24px;
  /* leading-trim: NONE; */
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #f5f5f5;
}
