html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  width: 100vw;
  border: 1rem solid #23252c;
  background: #1a1b21;
  border-radius: 18px;
  width: 18rem;
  margin: 0rem auto;
  padding-top: 1rem;
}

body {
  background: #1c1c1c;
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
