html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  width: 100%;
  max-width: 400px;
  border: 1rem solid #23252c;
  background: #1a1b21;
  border-radius: 18px;
  width: 18rem;
  margin: 0rem auto;

  padding-top: 1rem;
}

.App {
  background: #1c1c1c;
  height: 150vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .App {
    background: #1c1c1c;
    height: max-content;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* @media screen and (min-width: 1200px) {
  .App {
    height: 100vh;
    
    width: 100vw;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */
